body{
    background-color: bisque;
}
.inputi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
input{
    margin: 10px;
    height: 30px;
    width: 200px;
    font-size: 17px;

}
#num{
   width: 170px;
}
#myText{
    display: flex;
    height: 170px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.butnn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#butn1{
    width: 150px;
    height: 50px;
    background-color: rgb(248, 46, 46); 
    margin-top: 20px;
    font-weight: bold;
    border-radius: 10px;
}
