/* * {
    margin: 0;
    padding: 0;
  }
   */

   body{
    background-color: rgb(212, 175, 55);
    
    align-items: center;
    justify-content: center;
   }
  .list {
    display: block;
    margin-top: 30px;
    margin-left: 300px;
    flex-direction: column;
    width: 0%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
  }
  
  .list li {
    display: block;
    height: 130px;
    width: 600px;
    list-style-type: none;
    background-color: rgb(18, 55, 18);
    margin: 20px 0px;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  }
  #inp1{
width: 300px;
height: 50px;
border: 3px solid rgb(18, 55, 18);
border-radius: 7px;
background-color: gainsboro;
font-size: 18px;
padding-left: 10px;

  }
.pocetna{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* #inp1{
    width: 300px;
    height: 50px;
    margin-left: 0px;
    border-radius:none;
    border: 3px solid rgb(18, 55, 18);
    background-color: gainsboro;
    color: gray;
  } */
  
