#rezultat{
    height: 70px;
    color: antiquewhite;
    background-color: palevioletred;
    
    text-align: center;
    font-size: 30PX;
}
#rezultat{
    height: 50px;
    background-color: royalblue;
    margin-bottom: 50px;
    margin-top: 20px;

}